/* NavBar.css */
.navbar-custom {
  background-color: #2c3e50;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.navbar-custom .nav-link {
  color: #ffffff;
  position: relative;
}

.navbar-custom .nav-link:hover {
  color: #a8e1e0;
}

.navbar-custom .special-nav-link {
  color: #ffb84d;
  font-weight: bold;
}

.navbar-custom .special-nav-link:hover {
  color: #d89a3c;
}

.logo {
  max-width: 100%; /* Ensures it doesn't overflow the container */
  height: auto; /* Maintains aspect ratio */
  width: 65px; /* Set your desired width */
  object-fit: contain; /* Ensures the image is resized to fit */
}
